<div class="detail-list episodes">
<ul>
<li ng-repeat="episode in episodes" ng-attr-data-episode="{{ episode.identifier }}">
<h2>{{ episode.name }}</h2>
</li>
</ul>

<div class="detail">
<div class="logo">
<img src="/ui/css/bogtlogo.png" />
</div>

<div class="info">
<p>
The Ballad of Gay Tony injects Liberty City with an overdose of guns, glitz, and grime. As Luis Lopez, part-time hoodlum and full-time assistant to legendary nightclub impresario Tony Prince (a.k.a. "Gay Tony"), players will struggle with the competing loyalties of family and friends, and with the uncertainty about who is real and who is fake in a world in which everyone has a price.

Developed by series creator Rockstar North and set in Liberty City, Grand Theft Auto: The Ballad of Gay Tony completes an epic story and gameplay arc that intersects with the storylines of Grand Theft Auto IV and Grand Theft Auto: The Lost and Damned. With new missions, weapons, vehicles, soundtrack updates and multiplayer content that showcase the over-the-top nature of life at the center of the city, on the other side of the velvet rope where everyone and everything is accessible and available for a price.
</p>
</div>
</div>
</div>