@font-face {
    font-family: 'logotype';
    src: url('logotype.eot');
    src: url('logotype.eot?#iefix') format('embedded-opentype'),
         url('logotype.woff') format('woff'),
         url('logotype.ttf') format('truetype'),
         url('logotype.svg#titilliumbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('roboto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fivey';
    src: url('fivey.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
